@media (max-width: 767px) {
	
/* Mobile Grid */	

.m-all {float: left; padding-right: 0.75em; width: 100%; padding-right: 0;}

.m-1of2 {float: left; padding-right: 0.75em; width: 50%;}

.m-1of3 {float: left; padding-right: 0.75em; width: 33.33%;}

.m-2of3 {float: left; padding-right: 0.75em; width: 66.66%;}

.m-1of4 {float: left; padding-right: 0.75em; width: 25%;}

.m-3of4 {float: left; padding-right: 0.75em; width: 75%;} 
  
    
    
}
