
/* Portrait tablet to landscape */
@media (min-width: 768px) and (max-width: 1024px) {
	
/* Tablet Grid */

.t-all {float: left; padding-right: 0.75em; width: 100%; padding-right: 0;}

.t-1of2 {float: left; padding-right: 0.75em; width: 50%;}

.t-1of3 {float: left; padding-right: 0.75em; width: 33.33%;}

.t-2of3 {float: left; padding-right: 0.75em; width: 66.66%;}

.t-1of4 {float: left; padding-right: 0.75em; width: 25%;}

.t-3of4 {float: left; padding-right: 0.75em; width: 75%;}

.t-1of5 {float: left; padding-right: 0.75em; width: 20%;}

.t-2of5 {float: left; padding-right: 0.75em; width: 40%;}

.t-3of5 {float: left; padding-right: 0.75em; width: 60%;}

.t-4of5 {float: left; padding-right: 0.75em; width: 80%;}
    
    
    
}
